# 3 - Pré processamento dos dados

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime, timedelta
from sklearn.preprocessing import StandardScaler

In [8]:
df = pd.read_csv('data/vendas.csv')
df['vlvendido'] = df['qtd']* df['vlunitario']

## 3.1 - Filtragem dos dados

Como visto na etapa anterior **(análise exploratória)** iremos tirar do treino a loja 12 e o grupo 9 e 72

In [10]:

df_sales = df[(~df['grupo'].isin([10, 72, 9])) & (df['loja'] != 12)].groupby(['dtvenda']).agg({'qtd':'sum','vlvendido':'sum'})\
    .reset_index()


df_sales['date'] = pd.to_datetime(df_sales['dtvenda'], format='%Y-%m-%d', errors='coerce')

df_sales['day_of_year'] = df_sales['date'].dt.dayofyear
df_sales['month'] = df_sales['date'].dt.month
df_sales['day_of_week'] = df_sales['date'].dt.dayofweek
df_sales['day_of_month'] = df_sales['date'].dt.day
df_sales['week_of_year'] = df_sales['date'].dt.isocalendar().week

df_sales

,dtvenda,qtd,vlvendido,date,day_of_year,month,day_of_week,day_of_month,week_of_year
0,2021-09-02,6.0,566.40,2021-09-02,245,9,3,2,35
1,2021-09-03,32.0,3021.80,2021-09-03,246,9,4,3,35
2,2021-09-04,1.0,208.90,2021-09-04,247,9,5,4,35
3,2021-09-06,6.0,472.40,2021-09-06,249,9,0,6,36
4,2021-09-08,24.0,2192.60,2021-09-08,251,9,2,8,36
...,...,...,...,...,...,...,...,...,...
968,2024-06-06,341.0,46481.15,2024-06-06,158,6,3,6,23
969,2024-06-07,295.0,36805.00,2024-06-07,159,6,4,7,23
970,2024-06-08,164.0,31303.60,2024-06-08,160,6,5,8,23
971,2024-06-09,18.0,4172.20,2024-06-09,161,6,6,9,23
972,2024-06-10,166.0,24159.90,2024-06-10,162,6,0,10,24

## 3.2 - Valores Faltantes

## 3.3 - Normalização

## 3.4 - Variáveis Categóricas

## 3.5 - Engenharia ou Seleção de Atributos